<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/main-style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="css/slick.css">
    <title>Login</title>
</head>

<body>


    <!-- header -->

    <header class="inner_page">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="294.808" height="93.526"
                             viewBox="0 0 294.808 93.526" class="main_logo">
                            <g id="Group_2" data-name="Group 2" transform="translate(-146 -54.375)">
                                <text id="Geo_Finder" data-name="Geo Finder" transform="translate(146 118)"
                                      fill="#191917" font-size="45" font-family="FredokaOne-Regular, Fredoka One">
                                    <tspan x="0" y="0">Geo Finder</tspan>
                                </text>
                                <g id="Group_4" data-name="Group 4" transform="translate(395.291 54.375)">
                                    <path id="Path_1" data-name="Path 1"
                                          d="M127.75,369.8v14.07a2.507,2.507,0,0,1-2.5,2.5H108.435a2.507,2.507,0,0,1-2.5-2.5V367.053a2.507,2.507,0,0,1,2.5-2.5h13.711v-2.86h-13.71a5.366,5.366,0,0,0-5.366,5.364v16.812a5.368,5.368,0,0,0,5.366,5.365h16.811a5.366,5.366,0,0,0,5.366-5.364V369.8Z"
                                          transform="translate(-103.069 -343.012)" fill="#191917" />
                                    <path id="Path_2" data-name="Path 2"
                                          d="M251.639,261.254l-12.842,0a4.1,4.1,0,0,0-4.1,4.1V276.1h2.186V265.353a1.915,1.915,0,0,1,1.912-1.912H251.64a1.915,1.915,0,0,1,1.913,1.913v12.841a1.915,1.915,0,0,1-1.913,1.912H241.167v2.186l10.473,0a4.1,4.1,0,0,0,4.1-4.1V265.353A4.1,4.1,0,0,0,251.639,261.254Z"
                                          transform="translate(-210.221 -261.254)" fill="#191917" />
                                    <path id="Path_3" data-name="Path 3"
                                          d="M225.61,353.446a1.915,1.915,0,0,1-1.915,1.915h-5.229a1.917,1.917,0,0,1-1.918-1.915v-5.228a1.918,1.918,0,0,1,1.918-1.918H223.7a1.918,1.918,0,0,1,1.915,1.917Z"
                                          transform="translate(-195.445 -330.484)" fill="#191917" />
                                    <path id="Path_4" data-name="Path 4"
                                          d="M185.823,392.185a.96.96,0,0,1-.959.959H182.25a.959.959,0,0,1-.958-.959v-2.613a.959.959,0,0,1,.958-.959h2.614a.96.96,0,0,1,.959.959Z"
                                          transform="translate(-166.745 -364.928)" fill="#191917" />
                                    <path id="Path_5" data-name="Path 5"
                                          d="M213.809,426.4a.5.5,0,0,1-.505.5h-1.376a.5.5,0,0,1-.5-.5v-1.374a.505.505,0,0,1,.5-.5H213.3a.505.505,0,0,1,.505.5Z"
                                          transform="translate(-191.273 -394.161)" fill="#191917" />
                                    <path id="Path_6" data-name="Path 6"
                                          d="M199.6,323.747a.958.958,0,0,1-.958.958h-2.615a.958.958,0,0,1-.958-.959v-2.613a.959.959,0,0,1,.958-.959h2.614a.958.958,0,0,1,.958.959Z"
                                          transform="translate(-177.963 -309.218)" fill="#191917" />
                                    <path id="Path_7" data-name="Path 7"
                                          d="M269.908,314.469a.4.4,0,0,1-.4.4h-1.1a.4.4,0,0,1-.4-.4v-1.1a.4.4,0,0,1,.4-.4h1.1a.4.4,0,0,1,.4.4Z"
                                          transform="translate(-237.328 -303.35)" fill="#191917" />
                                    <path id="Path_8" data-name="Path 8"
                                          d="M262.7,406.308a.4.4,0,0,1-.4.4h-1.1a.4.4,0,0,1-.4-.4v-1.1a.4.4,0,0,1,.4-.4h1.1a.4.4,0,0,1,.4.4Z"
                                          transform="translate(-231.46 -378.108)" fill="#191917" />
                                    <path id="Path_9" data-name="Path 9"
                                          d="M221.225,295.349a.176.176,0,0,1-.175.176h-.482a.177.177,0,0,1-.178-.176v-.481a.178.178,0,0,1,.178-.177h.482a.176.176,0,0,1,.175.177Z"
                                          transform="translate(-198.571 -288.474)" fill="#191917" />
                                    <path id="Path_10" data-name="Path 10"
                                          d="M289.518,394.885a.178.178,0,0,1-.178.176h-.48a.177.177,0,0,1-.176-.176V394.4a.177.177,0,0,1,.176-.178h.48a.177.177,0,0,1,.178.178Z"
                                          transform="translate(-254.165 -369.498)" fill="#191917" />
                                    <path id="Path_11" data-name="Path 11"
                                          d="M189.014,350.643a.175.175,0,0,1-.175.176h-.48a.177.177,0,0,1-.178-.176v-.481a.178.178,0,0,1,.178-.178h.48a.176.176,0,0,1,.175.178Z"
                                          transform="translate(-172.352 -333.483)" fill="#191917" />
                                    <path id="Path_12" data-name="Path 12"
                                          d="M181.8,316.983a.176.176,0,0,1-.174.176h-.484a.176.176,0,0,1-.176-.176V316.5a.177.177,0,0,1,.176-.177h.484a.177.177,0,0,1,.174.177Z"
                                          transform="translate(-166.481 -306.084)" fill="#191917" />
                                    <path id="Path_13" data-name="Path 13"
                                          d="M274.48,345.808a.554.554,0,0,1-.555.554h-1.513a.552.552,0,0,1-.552-.554v-1.515a.552.552,0,0,1,.552-.554h1.513a.554.554,0,0,1,.555.554Z"
                                          transform="translate(-240.47 -328.4)" fill="#191917" />
                                </g>
                                <g id="Group_5" data-name="Group 5" transform="translate(395.291 101.682)">
                                    <path id="Path_1-2" data-name="Path 1"
                                          d="M127.75,369.8v14.07a2.507,2.507,0,0,1-2.5,2.5H108.435a2.507,2.507,0,0,1-2.5-2.5V367.053a2.507,2.507,0,0,1,2.5-2.5h13.711v-2.86h-13.71a5.366,5.366,0,0,0-5.366,5.364v16.812a5.368,5.368,0,0,0,5.366,5.365h16.811a5.366,5.366,0,0,0,5.366-5.364V369.8Z"
                                          transform="translate(-103.069 -343.012)" fill="none" />
                                    <path id="Path_2-2" data-name="Path 2"
                                          d="M251.639,261.254l-12.842,0a4.1,4.1,0,0,0-4.1,4.1V276.1h2.186V265.353a1.915,1.915,0,0,1,1.912-1.912H251.64a1.915,1.915,0,0,1,1.913,1.913v12.841a1.915,1.915,0,0,1-1.913,1.912H241.167v2.186l10.473,0a4.1,4.1,0,0,0,4.1-4.1V265.353A4.1,4.1,0,0,0,251.639,261.254Z"
                                          transform="translate(-210.221 -261.254)" fill="none" />
                                    <path id="Path_3-2" data-name="Path 3"
                                          d="M225.61,353.446a1.915,1.915,0,0,1-1.915,1.915h-5.229a1.917,1.917,0,0,1-1.918-1.915v-5.228a1.918,1.918,0,0,1,1.918-1.918H223.7a1.918,1.918,0,0,1,1.915,1.917Z"
                                          transform="translate(-195.445 -330.484)" fill="none" />
                                    <path id="Path_4-2" data-name="Path 4"
                                          d="M185.823,392.185a.96.96,0,0,1-.959.959H182.25a.959.959,0,0,1-.958-.959v-2.613a.959.959,0,0,1,.958-.959h2.614a.96.96,0,0,1,.959.959Z"
                                          transform="translate(-166.745 -364.928)" fill="none" />
                                    <path id="Path_5-2" data-name="Path 5"
                                          d="M213.809,426.4a.5.5,0,0,1-.505.5h-1.376a.5.5,0,0,1-.5-.5v-1.374a.505.505,0,0,1,.5-.5H213.3a.505.505,0,0,1,.505.5Z"
                                          transform="translate(-191.273 -394.161)" fill="none" />
                                    <path id="Path_6-2" data-name="Path 6"
                                          d="M199.6,323.747a.958.958,0,0,1-.958.958h-2.615a.958.958,0,0,1-.958-.959v-2.613a.959.959,0,0,1,.958-.959h2.614a.958.958,0,0,1,.958.959Z"
                                          transform="translate(-177.963 -309.218)" fill="none" />
                                    <path id="Path_7-2" data-name="Path 7"
                                          d="M269.908,314.469a.4.4,0,0,1-.4.4h-1.1a.4.4,0,0,1-.4-.4v-1.1a.4.4,0,0,1,.4-.4h1.1a.4.4,0,0,1,.4.4Z"
                                          transform="translate(-237.328 -303.35)" fill="none" />
                                    <path id="Path_8-2" data-name="Path 8"
                                          d="M262.7,406.308a.4.4,0,0,1-.4.4h-1.1a.4.4,0,0,1-.4-.4v-1.1a.4.4,0,0,1,.4-.4h1.1a.4.4,0,0,1,.4.4Z"
                                          transform="translate(-231.46 -378.108)" fill="none" />
                                    <path id="Path_9-2" data-name="Path 9"
                                          d="M221.225,295.349a.176.176,0,0,1-.175.176h-.482a.177.177,0,0,1-.178-.176v-.481a.178.178,0,0,1,.178-.177h.482a.176.176,0,0,1,.175.177Z"
                                          transform="translate(-198.571 -288.474)" fill="none" />
                                    <path id="Path_10-2" data-name="Path 10"
                                          d="M289.518,394.885a.178.178,0,0,1-.178.176h-.48a.177.177,0,0,1-.176-.176V394.4a.177.177,0,0,1,.176-.178h.48a.177.177,0,0,1,.178.178Z"
                                          transform="translate(-254.165 -369.498)" fill="none" />
                                    <path id="Path_11-2" data-name="Path 11"
                                          d="M189.014,350.643a.175.175,0,0,1-.175.176h-.48a.177.177,0,0,1-.178-.176v-.481a.178.178,0,0,1,.178-.178h.48a.176.176,0,0,1,.175.178Z"
                                          transform="translate(-172.352 -333.483)" fill="none" />
                                    <path id="Path_12-2" data-name="Path 12"
                                          d="M181.8,316.983a.176.176,0,0,1-.174.176h-.484a.176.176,0,0,1-.176-.176V316.5a.177.177,0,0,1,.176-.177h.484a.177.177,0,0,1,.174.177Z"
                                          transform="translate(-166.481 -306.084)" fill="none" />
                                    <path id="Path_13-2" data-name="Path 13"
                                          d="M274.48,345.808a.554.554,0,0,1-.555.554h-1.513a.552.552,0,0,1-.552-.554v-1.515a.552.552,0,0,1,.552-.554h1.513a.554.554,0,0,1,.555.554Z"
                                          transform="translate(-240.47 -328.4)" fill="none" />
                                </g>
                            </g>
                        </svg>

                    </a>
                </div>
                <div class="col-auto">
                    <ul class="top_menu">
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            |
                        </li>
                        <li>
                            <a href="#">Sign up</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" id="open_menu">
                                <span class="menu_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="9" viewBox="0 0 32 9">
                                        <g id="Group_6" data-name="Group 6" transform="translate(-1568.162 -82.622)">
                                            <line id="Line_1" data-name="Line 1" x2="26"
                                                  transform="translate(1568.162 83.122)" fill="none" stroke="#f9eac3"
                                                  stroke-width="1" />
                                            <line id="Line_2" data-name="Line 2" x2="26"
                                                  transform="translate(1574.162 91.122)" fill="none" stroke="#f9eac3"
                                                  stroke-width="1" />
                                        </g>
                                    </svg>

                                </span>
                                <span class="menu_text_div">
                                    <p class="menu_text menu_inner_text">Menu</p>
                                    <p class="click_text menu_inner_text">Click </p>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="overlay_menu" id="overlay_menu">
            <ul>
                <li class="bg-yellow">
                    <a href="#" class="stretched-link">Products</a>
                </li>
                <li class="bg_dark">
                    <a href="#" class="stretched-link">Demo</a>
                </li>
                <li class="bg-yellow">
                    <a href="#" class="stretched-link">Pricing</a>
                </li>
                <li class="bg_dark">
                    <a href="#" class="stretched-link">Contact</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="close">Close</a>
        </div>
    </header>

    <!-- banner section -->
    <section id="inner_banner_section" class="case_common">
        <div class="container">
            <div class="row">
                <div class="title_banner">
                    <h2>Login to your account..</h2>
                    <p>..to use APIs, manage usage, billing & more</p>
                </div>
            </div>
        </div>
    </section>
    <section id="form_main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-5 mx-auto">
                    <div class="login_main">

                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email your email address.</label>
                                <input type="email" placeholder="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Email your Password</label>
                                <input type="email" placeholder="Password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="forgot">
                                <p>
                                    <a href="#">Forgot Your Password</a>
                                </p>
                            </div>
                            <button type="submit" class="btn btn-custom">Login</button>
                        </form>

                        <div class="form_space">
                            <h2>OR</h2>
                        </div>
                        <div class="login_google">
                            <h2>
                                <a href="#">Login with <strong>Google, Email</strong></a>
                            </h2>
                        </div>

                        <div class="signup_link">
                            <h2>
                                Not a LocationIQ user? <a href="#"><strong>Sign-up for free!</strong></a>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- footer start -->

    <footer id="footer">

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="logo_footer">
                        <img src="images/footer.png" alt="">
                    </div>
                    <div class="dis_footer">
                        <p>
                            Whether you’re shopping for the best type of hiking boots, interior decorating tips, or a
                            new, boots, interior decorating tips, or a new favorite
                        </p>
                    </div>

                    <div class="social_icon">
                        <ul>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 12 24">
                                        <path id="iconmonstr-facebook-1"
                                              d="M9,8H6v4H9V24h5V12h3.642L18,8H14V6.333C14,5.378,14.192,5,15.115,5H18V0H14.192C10.6,0,9,1.583,9,4.615Z"
                                              transform="translate(-6)" fill="#fff" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="29.532" height="24"
                                         viewBox="0 0 29.532 24">
                                        <path id="iconmonstr-twitter-1"
                                              d="M29.532,5.089a12.1,12.1,0,0,1-3.48.954,6.069,6.069,0,0,0,2.664-3.352,12.137,12.137,0,0,1-3.848,1.47A6.063,6.063,0,0,0,14.543,9.686,17.2,17.2,0,0,1,2.056,3.357,6.067,6.067,0,0,0,3.93,11.446a6.033,6.033,0,0,1-2.743-.758,6.063,6.063,0,0,0,4.859,6.017,6.073,6.073,0,0,1-2.737.1,6.063,6.063,0,0,0,5.66,4.207A12.182,12.182,0,0,1,0,23.526a17.152,17.152,0,0,0,9.288,2.722c11.249,0,17.605-9.5,17.221-18.022a12.336,12.336,0,0,0,3.023-3.137Z"
                                              transform="translate(0 -2.248)" fill="#fff" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path id="iconmonstr-instagram-11"
                                              d="M12,2.163c3.2,0,3.584.012,4.85.07,3.252.148,4.771,1.691,4.919,4.919.058,1.265.069,1.645.069,4.849s-.012,3.584-.069,4.849c-.149,3.225-1.664,4.771-4.919,4.919-1.266.058-1.644.07-4.85.07s-3.584-.012-4.849-.07c-3.26-.149-4.771-1.7-4.919-4.92-.058-1.265-.07-1.644-.07-4.849s.013-3.583.07-4.849C2.381,3.924,3.9,2.38,7.151,2.232,8.417,2.175,8.8,2.163,12,2.163ZM12,0C8.741,0,8.333.014,7.053.072,2.7.272.273,2.69.073,7.052.014,8.333,0,8.741,0,12s.014,3.668.072,4.948c.2,4.358,2.618,6.78,6.98,6.98C8.333,23.986,8.741,24,12,24s3.668-.014,4.948-.072c4.354-.2,6.782-2.618,6.979-6.98C23.986,15.668,24,15.259,24,12s-.014-3.667-.072-4.947c-.2-4.354-2.617-6.78-6.979-6.98C15.668.014,15.259,0,12,0Zm0,5.838A6.163,6.163,0,1,0,18.162,12,6.162,6.162,0,0,0,12,5.838ZM12,16a4,4,0,1,1,4-4A4,4,0,0,1,12,16ZM18.406,4.155a1.44,1.44,0,1,0,1.439,1.44A1.441,1.441,0,0,0,18.406,4.155Z"
                                              fill="#fff" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <p class="text_footer">© 2021, Geo Finder Powered by <a href="#">Digisoft solution.</a></p>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="footer_title">Products</h3>
                            <ul>
                                <li><a href="#">Geocoding</a></li>
                                <li><a href="#">Maps</a></li>
                                <li><a href="#">Routing</a></li>
                                <li><a href="#">Pricing</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="footer_title">COMPANY</h3>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Affiliate Partners</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="footer_title">RESOURCES</h3>
                            <ul>
                                <li><a href="#">API Documentation</a></li>
                                <li><a href="#">API Status</a></li>
                                <li><a href="#">User Dashboard</a></li>
                                <li><a href="#">Libraries</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>


    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script>
        $("#open_menu").click(function () {
            $("#overlay_menu").addClass("menu_active");
        });
        $("#close").click(function () {
            $("#overlay_menu").removeClass("menu_active");
        });
    </script>

    <script>
        $('#client_slider').slick({
            centerMode: true,
            slidesToShow: 5,
            arrows: false,
            autoplay: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
    </script>
</body>

</html>